/* Background */
.home-background {
    margin-top: 2rem;
    width: 100%;
    height: 100vh;
    background-color: #0a192f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}

/* Container */
.home-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    color: #ccd6f6;
}

/* Title */
.home-title {
    color: #64ffda;
    font-size: 1.25rem;
    margin-bottom: -1rem;
}

/* Name */
.home-name {
    font-size: 3rem; /* Tailwind's text-4xl */
    font-weight: bold;
    color: #ccd6f6;
    margin-bottom: -1rem;
}

.home-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 2rem;
}

/* Subtitle */
.home-subtitle {
    font-size: 2.25rem; /* Tailwind's text-4xl */
    font-weight: bold;
    color: #8892b0; /* Similar to Tailwind's text-[#8892b0] */
    margin-bottom: 1.5rem;
    margin-top: 0.8rem;
}

/* Description */
.home-description {
    color: #8892b0;
    font-size: 1.4rem;
    line-height: 1.5;
    max-width: 700px;
    margin: 0 auto;
}

.home-button{
    display: inline-block;
    padding: 0.75rem 1.5rem;
    margin-top: 2rem;
    background-color: transparent;
    color: #ccd6f6;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #ccd6f6;
    width: 30%
}

.home-button:hover {
    background-color: #41a48d;
    transform: scale(1.05);
    border-color: #3eaf94;
}



