.skills-background {
    background-color: #0a192f;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.skills-container {
    max-width: 1000px;
    margin-left: -1rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* Align items to the left */
    color: #ccd6f6;
}

.skills-title {
    color: #ccd6f6;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 0.25rem; /* Reduce padding for closer underline */
    border-bottom: 2px solid #64ffda;
    display: inline-block;
    text-align: left;
    width: fit-content; /* Fit underline to text width */
    margin-left: -5rem;
}

.skills-text {
    color: #ccd6f6;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
    text-align: left; /* Align text to the left */
    width: 100%; /* Ensure text spans full width */
    padding: 0; /* Remove extra padding */
    margin-left: -5rem;
}

.skills-description-text {
    color: #ccd6f6;
    font-size: 20px;
    line-height: 1.8;
    text-align: center; /* Align paragraph text to the left */
    width: 100%; /* Ensure paragraph spans full width */
    padding-bottom: 1rem;
}

.skills-ptext {
    color: #ccd6f6;
    font-size: 20px;
    line-height: 1.8;
    text-align: center; /* Align paragraph text to the left */
    width: 100%; /* Ensure paragraph spans full width */
    padding: 0; /* Remove extra padding */
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 1rem;
    align-items: center;
}

.skills-image-Python {
    width: 200px;
    height: 200px;
    margin-top: -4
}

.skills-image{
    cursor: pointer;
    width: 180px;
    height: 180px;
}

.skills-image::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.skills-image:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .skills-container {
        align-items: center; /* Center-align items on small screens */
        text-align: center; /* Center text on small screens */
    }
    .skills-title, .skills-text {
        text-align: center;
    }


    .skills-title {
        margin-top: 15rem;
        margin-left: 0;
    }

    
    .skills-list {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .skills-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin-top: 1rem;
    }
}